<div class="shareThisWrapper gradient">
	<span>Share This:</span>
	<a href="{{vm.urls.mail}}"><i class="fa fa-envelope-o"></i></a>
	<a href="{{vm.urls.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a>
	<a href="{{vm.urls.pinterest}}" target="_blank"><i class="fa fa-pinterest"></i></a>
	<a href="{{vm.urls.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a>
	<a href="{{vm.urls.linkedIn}}" target="_blank"><i class="fa fa-linkedin-square"></i></a>
	<a href="{{vm.urls.googlePlus}}" target="_blank"><i class="fa fa-google-plus"></i></a>
</div>